<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>TODO API</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1 class="heading" style="text-align: center; margin: 30px;">Todo API</h1>
            <form style="width: 40%; margin: 30px auto;" action="/add" method="POST">
                <div class="content form-group form-inline">
                    <label>Task Name:&emsp;
                        <input class="form-control" type="text" name="todo[taskName]" placeholder="Task Name">
                    </label>
                </div>
                <div class="form-group form-inline">
                    <label>Task Description:&emsp;
                        <input class="form-control" type="text" name="todo[taskDuration]" placeholder="Task Description">
                    </label>
                </div>
                <div class="form-group form-inline">
                    <label>Creator Name:&emsp;
                        <input class="form-control" type="text" name="todo[creator]" placeholder="Creator Name">
                    </label>
                </div>
                <div class="form-group form-inline">
                    <label>Duration (in seconds):&emsp;
                        <input class="form-control" type="number" name="todo[duration]" value="7200" placeholder="Duration">
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body></html>